html,
body {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  height: 100%;
  margin: 0;
  padding: 0;
  //background-color: rgba(0, 0, 0, 0.44);
  background: url(../images/audiobuzz-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#mapid {
  height: 600px;
  width: 900px;
  position: absolute !important;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

}

h2 {
  color: #EB3D46;
}

span#score {
  background: none !important;
  color:#fff;
}

.main-title {
  font-family: 'Raleway', sans-serif;
  color: #fff;
  text-align: center;
  margin-right: 28px;
  font-size:2.6rem;
  bottom: 20px;
  position: absolute;
  right: 0;
  font-weight: 800;
  width:400px;
}

.main-title-top h1 {
  font-family: 'Raleway', sans-serif;
  color: #fff;
  font-size:2.6rem;
  font-weight: 800;

}

.top-bar .name h1 a{
  display: inline;
}

.main-title-top span {
  font-weight: 200;
}

.logo-top {
  margin-left:-8px;

}

.main-title-modal {
  font-family: 'Raleway', sans-serif;
  color: #fff;
  font-size:2.6rem;
  position: relative;
  font-weight: 800;
  margin:0 auto;
}

.main-title span {
  font-weight: 200;
}

.main-title-modal span {
  font-weight: 200;
}

.start-button {
  position: absolute !important;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 350px;
  height: 100px;
  z-index:9;
}

.cesium-credit-textContainer {
  display:none;
}

#slideout {
  background:rgba(0,0,0,0.9);
  box-shadow: 0 0 5px rgba(0,0,0,.3);
  color: #fff;
  position: fixed;
  top: 100px;
  left: -520px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  padding: 35px;
  z-index: 2;
  width:400px;
  //display: none;
}

#slideout.on {
  left: 0;
  text-align: center;
}

.buttons-wrapper {
  width:100%;
  text-align: center;
  margin-top: 50px !important;
}

.hint {
  text-transform: uppercase;
  font-size: 13px;
}

#slideout-score {
  background:rgba(0,0,0,0.9);
  box-shadow: 0 0 5px rgba(0,0,0,.3);
  color: #fff;
  position: fixed;
  top: 100px;
  right: -520px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  padding: 35px;
  z-index: 2;
  //display: none;
}

#slideout-score.on {
  right: 0;
}

.score-btm, .submit-name {
font-size: 13px;
text-transform: uppercase;
}

#instructionsModal {
  background:rgba(0,0,0,0.9);
  color:#fff;
  text-align: center;
}

#instructionsModal h1 {
  color: #EB3D46;
  font-size: 2rem;
  margin-top: 20px;
}

.logo {
  margin-right: -26px;
}

.start-game {
  text-transform: uppercase;
  background: none !important;
  color: #fff !important;
  font-size: 40px !important;
  font-weight: bold;
}

#full-member-list {
  margin-top:20px;
}

.name-submit {
  color:#fff;
}

.no-show {
  display:none;
}

.player {
  border: 1px solid #242424;
  padding: 9px;
  margin-top: -1px;
  text-transform: uppercase;
  text-align: center;
}

#score {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  background-color: #3A1C34 !important;
}

.how-to {
  text-align: right;
  margin-top: 61px;
  font-size: 13px;
}

.how-to a {
  color:#EB3D46;
}

#audio-player {
  border: 1px solid #797878;
  width: 100%;
}

#album img {
  width: 315px;
  border: 1px solid #333333;
}

h2.main-guess {
  font-size: 26px;
}

/* top bar navigation */
.top-bar {
  background:rgba(0,0,0,0.8);
  box-shadow: 0 0 5px rgba(0,0,0,.3);
  color: #fff;
}

a.play {
  background-color:#F84C1E !important;
}

a.play:hover {
  background-color:#E73B20 !important;
}

a.pause {
  background: rgba(0,0,0,0.8) !important;
  color:#F84C1E !important;
}

a.vol {
  background: rgba(0,0,0,0.8) !important;
  color:#F84C1E !important;
}

.fa-2x {
  vertical-align: middle;
  margin-top: -3px;
}

.hint, .score-btm, .howTo {
  background: rgba(0,0,0,0.8) !important;
}

#count {
  background: rgba(0,0,0,0.8) !important;
color: #F84C1E !important;
}

/*moving logo animation */

#movin-logo {
  position: relative;
  display: inline-block;
  margin-right: 60px;
}

span.bar {
  display: block;
  bottom: 0px;
  width: 8px;
  height: 5px;
  background: #9b59b6;
  position: absolute;
  border-radius: 5px;
  animation: audio-wave 1.5s infinite ease-in-out;
}

span.bar:nth-child(2) {
left: 11px;
animation-delay: 0.2s;
}

span.bar:nth-child(3) {
left: 22px;
animation-delay: 0.4s;
}

span.bar:nth-child(4) {
left: 33px;
animation-delay: 0.6s;
}

span.bar:nth-child(5) {
left: 44px;
animation-delay: 0.8s;
}

@keyframes audio-wave {
    0% {height:4px;transform:translateY(0px);background:#D63554;}
    25% {height:30px;transform:translateY(10px);background:#9b59b6;}
/*effect is to animate the height of each span from 5px to 30px*/
/*translateY makes Y axis move down to give the effect that it is growing from the center*/

    50% {height:4px;transform:translateY(0px);background:#EC3D45;}
    100% {height:4px;transform:translateY(0px);background:#9b59b6;}

  }
